modules = ["cpp"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build SimpleReverb"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run ReverbGUI"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run SimpleReverb"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run ReverbGUI Demo"


[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build ReverbVST"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Check ReverbVST"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build ReverbVST All"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Direct SimpleReverb Run"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build VST Plugin"

[[workflows.workflow]]
name = "Build SimpleReverb"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "rm -rf build && mkdir -p build && cd build && cmake .. -DCMAKE_BUILD_TYPE=Release && make SimpleReverb -j4"

[[workflows.workflow]]
name = "Run ReverbGUI"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd build && ./ReverbGUI"

[[workflows.workflow]]
name = "Run SimpleReverb"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd build && ./SimpleReverb"

[[workflows.workflow]]
name = "Run ReverbGUI Demo"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd build && ./ReverbGUI"


[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"


[[workflows.workflow]]
name = "Build ReverbVST"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd build && cmake .. -DCMAKE_BUILD_TYPE=Release && make ReverbVST -j4"

[[workflows.workflow]]
name = "Check ReverbVST"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd build-vst && ls -la ReverbVST_artefacts/Release/VST3/"

[[workflows.workflow]]
name = "Build ReverbVST All"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd build && cmake .. -DCMAKE_BUILD_TYPE=Release && make ReverbVST_All -j4"

[[workflows.workflow]]
name = "Direct SimpleReverb Run"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./SimpleReverb"

[[workflows.workflow]]
name = "Build VST Plugin"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p build-vst && cd build-vst && cmake .. -DCMAKE_BUILD_TYPE=Release && cmake --build . --target ReverbVST -j4"

[deployment]
run = ["sh", "-c", "mkdir -p build && cd build && cmake .. && cmake --build . && ./CustomReverbPlugin_artefacts/Standalone/CustomReverbPlugin"]
