modules = ["cpp"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Run JUCE Plugin"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build_reverb_plugin"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build_juce_plugin"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run SimpleReverb Demo"

[[workflows.workflow]]
name = "Build and Run JUCE Plugin"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p build && cd build && cmake .. && cmake --build . && ./CustomReverbPlugin_artefacts/Standalone/CustomReverbPlugin"

[[workflows.workflow]]
name = "build_reverb_plugin"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd build && make && cd .. && ./build/SimpleReverb"

[[workflows.workflow]]
name = "build_juce_plugin"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p build && cd build && cmake .. && make"

[[workflows.workflow]]
name = "Run SimpleReverb Demo"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./SimpleReverb"

[deployment]
run = ["sh", "-c", "mkdir -p build && cd build && cmake .. && cmake --build . && ./CustomReverbPlugin_artefacts/Standalone/CustomReverbPlugin"]
